body {
    margin:0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.input-label {
    margin: 10px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
}

#todo-input {
    height: auto;
    width: 200px;
    padding: 5px;
    border: 2px solid;
}

.add-todo {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.add-btn {
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
}

.todo-table th,.todo-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: larger;
}

#todo-filter-search {
    height: auto;
    width: 150px;
    padding: 5px;
    border: 2px solid;
}

#todo-filter-label {
    margin-left: 100px;
    font-size:large;
}

.delete-btn {
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }

  .strike-through {
    text-decoration: line-through;
    color: gray;
  }
  
  

  